.registerWrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;


    .emailContainer {
      width: 250px;
      position: relative;
      .emailLabel {
        position: absolute;
        left: 10px;
        top:14px;
        transition: all .2s;
        padding:0 2px;
        z-index: 1;
        color: #fafafa;
      }
      .emailInput {
        padding: .8rem;
        width: 100%;
        height: 100%;
        border: 2px solid #382f26;
        background: #272530;
        border-radius: 5px;
        font-size: 18px;
        outline: none;
        transition: all .3s;
        color: #fff;
      }
      .emailLabel::before {
        content: "";
        height: 5px;
        background-color: #272530;
        position: absolute;
        left: 0;
        top: 10px;
        width: 100%;
        z-index: -1;
      }
      .emailInput:focus {
        border: 2px solid #e40914;
      }

      .emailInput:focus +  .emailLabel {
        top: -12px;
        color: #e40914;
        font-size: 18px;
      }

      .emailInput::placeholder {
        font-size: 16px;
        opacity: 0;
        transition: all .3s;
      }

      .emailInput:focus::placeholder {
        opacity: 1;
        animation-delay: .2s;
      }

      .emailInput:valid ~ .emailLabel {
        top: -12px;
      }


    }

    .passwordContainer {
      margin-top: 30px;
      width: 250px;
      position: relative;
      margin-bottom: 10px;
      .passwordLabel {
        position: absolute;
        left: 10px;
        top:14px;
        transition: all .2s;
        padding:0 2px;
        z-index: 1;
        color: #fafafa;
      }
      .passwordInput {
        padding: .8rem;
        width: 100%;
        height: 100%;
        border: 2px solid #382f26;
        background: #272530;
        border-radius: 5px;
        font-size: 18px;
        outline: none;
        transition: all .3s;
        color: #fff;
      }
      .passwordLabel::before {
        content: "";
        height: 5px;
        background-color: #272530;
        position: absolute;
        left: 0;
        top: 10px;
        width: 100%;
        z-index: -1;
      }
      .passwordInput:focus {
        border: 2px solid #e40914;
      }

      .passwordInput:focus +  .passwordLabel {
        top: -12px;
        color: #e40914;
        font-size: 18px;
      }

      .passwordInput::placeholder {
        font-size: 16px;
        opacity: 0;
        transition: all .3s;
      }

      .passwordInput:focus::placeholder {
        opacity: 1;
        animation-delay: .2s;
      }

      .passwordInput:valid ~ .passwordLabel {
        top: -12px;
      }

    }

    .loginButton {
      width: 185px;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      color: white;
      background: #e40914;
      padding: 8px 16px;
      margin-top: 15px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        opacity: .7;
      }
    }
  }
  .loginLink{
    text-decoration: none;
    font-weight: bold;
    color: #818086;
    transition: .3s;
    &:hover {
      color: #e40914;
    }
  }
}