.moviesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .moviesContainer {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .movieContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-left: 50px;
      transition: all .3s;
      &:hover {
        transform: scale(1.1);
      }
      .nameRu {
        color: white;
        margin-top: 10px;

      }

      & > img {
        border-radius: 5px;
        transition: all .3s;
        cursor: pointer;
        background-size: cover;
        height: 220px;
        width: 130px;
      }
    }

  }

}