.moviesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .moviesContainer {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .movieContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-left: 25px;

      .nameRu {
        color: white;
        margin-top: 5px;

      }

      & > img {
        border-radius: 5px;
        transition: all .3s;
        cursor: pointer;
        background-size: cover;
        height: 220px;
        width: 130px;

        &:hover {
          height: 225px;
          width: 135px;
        }
      }
    }

  }

}